section{

  height: 930px;
  padding-top: 0;
}

img{
  height: 80px;
  width: 80px;
}
.center{
  margin: auto;
  display: block;
}
.text-center{
  text-align: center;
}
p{
  text-align: center;
  padding: 10px;
}
h1{
  text-align: center;
}
footer{
  height: 300px;
}
@font-face {
    font-family: font-guiapp;
    src: url(../img/Champagne.ttf);
}
div{
  font-family: font-guiapp;
}
